body{
    font-family: 'Nunito', sans-serif;
    background-color: #0F0F0F;
    color: white;
}
   
h1 {
    animation: slide-up 2s;
}

.area_neon{
    background-color: #0F0F0F;
    font-family: 'Nunito', sans-serif;
    
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 20px;
    padding-top: 40px;
    position: absolute;

    display: flex;
    flex: 1;
    justify-content: center;
}

.area_neon h1.neon{
    font-weight: 400;
    font-size: 7em;
    filter: blur(0);
    -webkit-text-stroke: 1px rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.1);
    text-shadow: -5px 5px 5px black;
    -webkit-background-clip: text;
    transition: all ease 1s;
} 

.area_neon h1.neon.on{
    filter: blur(1px);
    color: white;
    -webkit-text-stroke: 1px #00FFB3;
    text-shadow: 0 0 5px #CCFFF7, 0 0 200px #00FFDB;
    -webkit-background-clip: none;
}

@keyframes slide-up {
    from {
        opacity: .25;
        line-height: 500px;
    }
    to {
        opacity: 1;
        line-height: 127px;
    }
}